<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>指纹解锁.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>770B1B141D0E98C9007E6C87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>770B1B301D0E98C9007E6C87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>770B1B3B1D0E98C9007E6C87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
